*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

h1{
    font-size: 7rem;
    font-weight: 900;
}

h2{
    font-size: 6rem;
    font-weight: 900;
}

p{
    font-size: 2rem;
}

.wrap{
    width: 100%;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0 0 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo-top{
    padding: 0 0 0 10%;
    width: 100%;
    height: auto;
}

nav.menu{
    padding: 0 10% 0 0;
}

nav.menu ul{
    display: flex;
}

nav.menu ul li{
    list-style: none;
}

nav.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 1rem 2rem;
    padding: .5rem 0 0 0;
}

nav.menu ul li a:hover{
    border-top: 2px solid #ff0000;
}

nav.menu-hamburger{
    font-size: 4rem;
    padding: 0 10% 0 0;
}

nav.menu-hamburger .fas{
    border: none;
}

.section1{
    background-image: url(../img/strawberry.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fresh{
    width: 30%;
    margin: 0 30% 0 0;
}

.fresh p{
    margin: 3rem 0;
}

.btn-free{
    padding: 1.5rem 2.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: #ff6033;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    cursor: pointer;
}

.btn-free:hover{
    opacity: .9;
}

.mouse-scroll{
    position: absolute;
    top: 80%;
    left: 50%;
}

.mouse-scroll figure img{
    width: 2%;
    height: auto;
    min-width: 25px;
    max-width: 30px;
    display: block;
}

.slide-bottom {
	animation: slide-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s infinite alternate forwards;
}

 @-webkit-keyframes slide-bottom {
    0% {
            transform: translateY(0);
    }
    100% {
            transform: translateY(100px);
    }
  }
  @keyframes slide-bottom {
    0% {
            transform: translateY(0);
    }
    100% {
            transform: translateY(30px);
    }
  }

  @media screen and (max-width:790px){
    header{
        padding: 0;
    }
    h1{
        font-size: 5rem;
        font-weight: 900;
    }
    .fresh{
        width: 90%;
        margin: 0;
        text-align: center;
    }
    .fresh p{
        font-size: 1.5rem;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 1rem 0;
    }
    .fresh .btn-free{
        font-size: 1.5rem;
    }
    .logo-top figure img{
        padding: 0 0 0 2rem;
        width: 7rem;
    }
    nav.menu-hamburger{
        font-size: 2rem;
        padding: 0 5rem 0 0;
    }
}

@media screen and (max-width:1154px){
    nav.menu{
        display:none;
    }
}

@media screen and (min-width:1155px){
    nav.menu-hamburger{
        display: none;
    }
}

.section2{
    background-color: #00b1b1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3rem 0;
}

.plate{
    width: 50vw;
    padding: 0 12rem;
}

.plate figure img{
    width: 100%;
    height: auto;
}

.about-us{
    width: 50vw;
    padding: 0 12rem;
    color: #fff;
}

.about-us P{
    padding: 1rem 0;
}

.about-us h2{
    margin: 0 0 5rem 0;
    font-weight: 700;
    font-size: 8rem;
}

@media screen and (max-width:1154px){
    .plate{
        width: 70vw;
        padding: 0 0rem;
        }
        .about-us{
            width: 100vw;
            padding: 0 7rem;
            text-align: center;
        }
        .about-us h2{
            font-size: 5rem;
        }
}

@media screen and (max-width:790px){
    .section2{
        display: block;
    }
    .plate{
    width: 30vw;
    margin: 0 auto;
    }
    .about-us{
        width: 100vw;
        padding: 0 2rem;
        text-align: center;
    }
    .about-us h2{
        font-size: 4rem;
    }
}

.section3{
    background-color: #70bfff;
    display: flex;
    
}

.information{
    width: 50%;
    padding: 5rem 0;
}

.information div{
    width: 50%;
    background-color: #fff;
    margin: 2rem auto;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.information div:hover{
    background-color: #f7f3f3;
}

.information div p{
    font-size: 2.2rem;
    font-weight: 700;
    padding: 0 2rem;
    width: 70%;
}

.fas{
    font-size: 4.5rem;
    border-left: 1px solid #9d9d9d;
    line-height: 10rem;
    padding: 0 2rem;
    width: 10rem;
}

.our-services{
    background-image: url(../img/tomato.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 50%;
    margin: 5rem 0rem;
}

.tomato{
    padding: 20rem 0rem 0rem 0;
    font-size: 9rem;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

@media screen and (max-width:1154px){
    .information div{
        width: 70%;
    }
    .tomato{
    font-size: 6.5rem;
    }
    .information div p{
    font-size: 2rem;
    }
}

@media screen and (max-width:790px){
    .section3{
        flex-direction: column-reverse;
        align-items: center;
    }
    .information{
        width: 100%;
        padding: 0 0 5rem 0;
    }
    .our-services{
        width: 100%;
        align-items: center;
    }
    .tomato{
        padding: 2rem 0rem 2rem 0;
    }
}
